.header-main {
    height: 6vh;
    background-color: #F4D97C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.header-main h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}